name: tnmap_flutter_plugin
description: "A new Flutter plugin project for tnmap_flutter_plugin."
version: 4.0.3+22

homepage:

environment:
  sdk: ^3.5.4
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      android:
        package: com.example.tnmap_flutter_plugin
        pluginClass: TnmapFlutterPlugin
      ios:
        pluginClass: TnmapFlutterPlugin
