name: api_gateway_flutter
description: A Flutter SDK for API gateway integration.
version: 2.0.0+2
homepage: https://mapnests.com

environment:
  sdk: ^3.8.1
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.api_gateway_flutter
        pluginClass: ApiGatewayFlutterPlugin
      ios:
        pluginClass: ApiGatewayFlutterPlugin
